notebook
nbconvert
numpy
pandas
matplotlib
scikit-learn
sqlalchemy
pyodbc
azure-core
azure-storage-blob
prophet
tqdm
chardet
imbox
pyyaml
azure-keyvault-secrets
azure-identity
azure-storage-file-share
openpyxl
adal
tabulate
jupyter
ipykernel